annotated-types
anyio
attrs
cachetools
certifi
charset-normalizer
click
dnspython
exceptiongroup
fastapi
fastapi-cli
fastapi-cloud-cli
platformdirs
h11
httpx
jsonschema
jsonschema-specifications
numpy
orjson
packaging
pandas
playwright
pyarrow
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pydeck
pyee
Pygments
python-dateutil
python-dotenv
python-multipart
pytz
requests
starlette
uvicorn
uvloop
watchdog
watchfiles
websockets
